/* ion-input.al {
  background-color: var(--al-input-background-color);
  padding: var(--al-input-padding);
}

ion-textarea.al {
  background-color: var(--al-textarea-background-color);
  padding: var(--al-textarea-padding);
} */
