:root {
  --al-color-primary: #00b0ff;
  --al-color-dark: #100f10;
  --al-mesh-viewport-background-color: #000;
  --al-slices-viewport-background-color: #000;
  --al-volume-viewport-background-color: #000;
  --al-item-color: #c7c5c7;
  --al-item-selected-color: #00b0ff;
  --al-item-border-color: transparent;
  --al-controlpanel-background-color: #1c1b1c; /*#f7f7f7*/
  --al-console-font-size: 0.75rem;

  --al-input-background-color: #333233;
  --al-input-font-size: 1rem;
  --al-input-color: #c7c5c7;
  --al-input-padding-start: 10px;
  --al-input-padding-top: 10px;
  --al-input-padding-end: 10px;
  --al-input-padding-bottom: 10px;

  --al-textarea-background-color: #333233;
  --al-textarea-font-size: 1rem;
  --al-textarea-color: #c7c5c7;
  --al-textarea-padding-start: 10px;
  --al-textarea-padding-top: 10px;
  --al-textarea-padding-end: 10px;
  --al-textarea-padding-bottom: 10px;

  --al-select-background-color: #333233;

  --color: var(--al-color-primary);
  --ion-item-color: var(--al-item-color);
  --ion-list-header-border-color: rgb(199, 197, 199, 0.1);
  --ion-item-border-color: var(--al-item-border-color);
  --ion-text-color-rgb: 255, 255, 255;
  --ion-color-primary-rgb: 255, 255, 255;
  --ion-highlight-color-focused: var(--al-color-primary);
  --ion-color-primary-shade: var(--al-color-primary);
  --ion-color-primary-tint: var(--al-color-primary);
  --app-background-color: var(--al-controlpanel-background-color);
  --ion-background-color: var(--al-controlpanel-background-color);

  /*
  https://ionicframework.com/docs/theming/advanced/#color-language
  https://ionicframework.com/docs/theming/advanced#application-colors
  https://github.com/ionic-team/ionic-app-base/blob/master/www/lib/ionic/scss/_variables.scss
  */

  --ion-color-primary: #00b0ff;
  --ion-color-primary-rgb: 0, 176, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #00b0ff;
  --ion-color-primary-tint: #00b0ff;
  /*
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
  */
}
