#container {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--app-background-color);
}

a-scene {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

#control-panel {
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
  width: 100%;
  max-width: 300px;
  height: 100%;
  font-size: 14px;
}

#control-panel ion-app {
  padding: 10px;
}

/* @media only screen and (min-width: 500px) {
  #control-panel {
    max-width: 300px;
  }
} */

#lut-container {
  display: none;
}

.progress.container {
  position: absolute;
  top: auto !important;
  bottom: 0 !important;
}

.progress.container .load.progress {
  border: none !important;
  height: 4px !important;
  background-color: #fff !important;
}

.progress.container .parse.progress {
  border: none !important;
  height: 4px !important;
  background-color: #fff !important;
}

#spinner {
  position: absolute;
  left: 50%;
  top: 50%;
}

#spinner .square {
  /*-webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);*/
  margin: 0 0 0 -15px;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  -moz-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.rs-base {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
}
