#al-wrapper {
  position: relative;
  font-family: sans-serif;
}

#al-wrapper a-scene {
  background-color: var(--app-background-color);
  display: block;
  width: 100%;
  height: 100%;
}

/* @media only screen and (min-width: 500px) {
  #control-panel {
    max-width: 300px;
  }
} */

#al-wrapper #lut-container {
  display: none;
}

#al-wrapper .progress.container {
  position: absolute;
  top: auto !important;
  bottom: 0 !important;
}

#al-wrapper .progress.container .load.progress {
  border: none !important;
  height: 4px !important;
  background-color: #fff !important;
}

#al-wrapper .progress.container .parse.progress {
  border: none !important;
  height: 4px !important;
  background-color: #fff !important;
}
